.game{
    width: 100vw;
    height: 100vh;
    background-color: #141416;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 16px;
        button {
            --g-button-background-color: #2e2e2e;
            --g-button-background-color-hover: #201f1f;
            --g-button-border-radius: 10px;
          }
    }
}
.field{
    width: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}
.block{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-weight: 900;
}
.Numb{
    font-size: 32px;
}
.timer{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 48px;
}
.order{
    font-size: 32px;
}
