h1{
    font-size: 20px;
}
p{
    text-align: center;
}
.timer{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50px;
    height: 19px;
    align-items: center;
    justify-content: center;
}
