@import url("./Components/SingleCard/singleCard.module.css");
@import url("./Components/Settings/settings.module.css");
@import url("./Components/StartPage/startpage.module.css");
@font-face {
  font-family: "RalewayRegular";
  src: url("../public/fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../public/fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
body{
  width: 100vw;
  height: 100vh;
}
