@import url("./Components/SingleCard/SingleCard.css");
@import url("./Components/Settings/Settings.css");
@font-face {
  font-family: "RalewayRegular";
  src: url("../public/fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../public/fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
body{
  width: 100vw;
  height: 100vh;
}