body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2C2C2C;
}
.Game{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.RestBtn{
    position: relative;
    bottom: 50px;
}
.field{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: black;
    position: absolute;
    top: 100px;
    width: 90px;
    border-radius: 5px;
}
.card {
    position: relative;
    width: 100px;
    height: 148px;
}
.card, .back, .front{

    border-radius: 15px;
}
.card .front {
    transform:rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    width: 100px;
    height: 148px;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
    width: 100px;
    height: 148px;
}

.card .back {
    height: 148px;
    width: 100px;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay:  0s;
}
.back{
    background-color: red;
    background-image: url("../../../public/card.jpg");
    background-size: cover;
}