body {
    width: 100vw;
    height: 100vh;
}
* {
    padding: 0;
}
ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.settings {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
}

.difficulty {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: left;
}

ul,
li,
ol {
    list-style-type: none;
}
.difficult {
    visibility: hidden;
}
.difficulty:hover {
    .difficult {
        visibility: visible;
    }
}

.underline {
    text-decoration: underline;
}
