.game {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    background-color: #161616;
    align-items: center;
    justify-content: center;
}
.field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vh;
    background-color: wheat;
}
.kvadr {
    width: 20%;
    height: 20%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer {
    width: 20%;
    height: 20%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
span {
    z-index: -1;
}
